<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/index.html" method="POST" >
    {{ form.csrf_token }} 
    {{ form.hashtag.label }}
    {{ form.hashtag }}
    {{ form.noft.label }}
    {{ form.noft }}
    {{ form.lng.label }}
    {{ form.lng }}
    {{ form.submit }}
</form>
{% if hashtag %}
    <h1>{{ form.hashtag.label }}</h1>
    <p>{{ form.hashtag.data }}</p>
    <br><br>
    <p>{{ text }}</p>
    <br>
    <br>
    {{ Pol }}
    {{ Sub }}
<img src="{{ loc }}" alt="Word Cloud">
{% endif %}
</body>
</html>