<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/index.html" method="POST" >
    {{ form.csrf_token }} 
    {{ form.hashtag.label }}
    {{ form.hashtag }}
    {{ form.noft.label }}
    {{ form.noft }}
    {{ form.lng.label }}
    {{ form.lng }}
    {{ form.submit }}
</form>
{% if hashtag %}
    <h1>{{ form.hashtag.label }}</h1>
    <p>{{ form.hashtag.data }}</p>
    <br><br>
    <p>{{ text }}</p>
    <br>
    <br>
    POSITIVE SCORE - {{ Pol }} <br>
    NEGATIVE SCORE - {{ Sub }} <br>
    STATUS - {{status}}<br>
    AVG SENTENCE LENGTH	- {{asl}}<br>
    PERCENTAGE OF COMPLEX WORDS	- {{pcw}}<br>
    FOG INDEX	- {{fi}}<br>
    AVG NUMBER OF WORDS PER SENTENCE	- {{anws}}<br>
    COMPLEX WORD COUNT	- {{ccw}}<br>
    WORD COUNT	- {{tnw}}<br>
    SYLLABLE PER WORD	- {{scw}}<br>
    PERSONAL PRONOUNS	- {{pronouns}}<br>
    AVG WORD LENGTH     - {{awl}}<br>
    <image src='{{url_for('static', filename='wordcloud.png')}}'>
{% endif %}
</body>
</html>